@charset "UTF-8";

/* Estilo par telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgray;
    box-shadow: black;
}

header > h1 {
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}

menu {
    box-shadow: 0px 7px 7px rgba(41, 41, 41, 0.5);
}

menu ul {
    list-style-type: none;
    background-color: lightgray;

}

menu li {
    background-color: rgb(29, 29, 29);
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
    padding-top: 10px;
}